.vertical-align {
	display: flex;
	align-items: center;
}

.jumbotron {
  	padding-top: 0px;
  	padding-bottom: 0px;
  	text-align: center;
  	margin-top: 0px;
  	background: transparent;
}

.navbar-light {
	padding-top: 0px;
	margin-top: 0px;
	background: transparent;
}

::-webkit-input-placeholder {
   color: #bbbbbb!important;
}